# coding: utf-8

"""
    BioLink API

    API integration layer for linked biological objects.   __Source:__ https://github.com/biolink/biolink-api/  # noqa: E501

    OpenAPI spec version: 1.1.14
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BioentitysetApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_entity_set_associations(self, **kwargs):  # noqa: E501
        """Returns compact associations for a given input set  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_entity_set_associations(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] subject: Entity ids to be examined, e.g. NCBIGene:9342, NCBIGene:7227, NCBIGene:8131, NCBIGene:157570, NCBIGene:51164, NCBIGene:6689, NCBIGene:6387
        :param list[str] background: Entity ids in background set, e.g. NCBIGene:84570, NCBIGene:3630; used in over-representation tests
        :param str object_category: E.g. phenotype, function
        :param str object_slim: Slim or subset to which the descriptors are to be mapped, NOT IMPLEMENTED
        :return: list[AssociationResults]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_entity_set_associations_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_entity_set_associations_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_entity_set_associations_with_http_info(self, **kwargs):  # noqa: E501
        """Returns compact associations for a given input set  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_entity_set_associations_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] subject: Entity ids to be examined, e.g. NCBIGene:9342, NCBIGene:7227, NCBIGene:8131, NCBIGene:157570, NCBIGene:51164, NCBIGene:6689, NCBIGene:6387
        :param list[str] background: Entity ids in background set, e.g. NCBIGene:84570, NCBIGene:3630; used in over-representation tests
        :param str object_category: E.g. phenotype, function
        :param str object_slim: Slim or subset to which the descriptors are to be mapped, NOT IMPLEMENTED
        :return: list[AssociationResults]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['subject', 'background', 'object_category', 'object_slim']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_entity_set_associations" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'subject' in params:
            query_params.append(('subject', params['subject']))  # noqa: E501
            collection_formats['subject'] = 'multi'  # noqa: E501
        if 'background' in params:
            query_params.append(('background', params['background']))  # noqa: E501
            collection_formats['background'] = 'multi'  # noqa: E501
        if 'object_category' in params:
            query_params.append(('object_category', params['object_category']))  # noqa: E501
        if 'object_slim' in params:
            query_params.append(('object_slim', params['object_slim']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/bioentityset/associations', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[AssociationResults]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_entity_set_graph_resource(self, **kwargs):  # noqa: E501
        """TODO Graph object spanning all entities  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_entity_set_graph_resource(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] subject: Entity ids to be examined, e.g. NCBIGene:9342, NCBIGene:7227, NCBIGene:8131, NCBIGene:157570, NCBIGene:51164, NCBIGene:6689, NCBIGene:6387
        :param list[str] background: Entity ids in background set, e.g. NCBIGene:84570, NCBIGene:3630; used in over-representation tests
        :param str object_category: E.g. phenotype, function
        :param str object_slim: Slim or subset to which the descriptors are to be mapped, NOT IMPLEMENTED
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_entity_set_graph_resource_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_entity_set_graph_resource_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_entity_set_graph_resource_with_http_info(self, **kwargs):  # noqa: E501
        """TODO Graph object spanning all entities  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_entity_set_graph_resource_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] subject: Entity ids to be examined, e.g. NCBIGene:9342, NCBIGene:7227, NCBIGene:8131, NCBIGene:157570, NCBIGene:51164, NCBIGene:6689, NCBIGene:6387
        :param list[str] background: Entity ids in background set, e.g. NCBIGene:84570, NCBIGene:3630; used in over-representation tests
        :param str object_category: E.g. phenotype, function
        :param str object_slim: Slim or subset to which the descriptors are to be mapped, NOT IMPLEMENTED
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['subject', 'background', 'object_category', 'object_slim']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_entity_set_graph_resource" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'subject' in params:
            query_params.append(('subject', params['subject']))  # noqa: E501
            collection_formats['subject'] = 'multi'  # noqa: E501
        if 'background' in params:
            query_params.append(('background', params['background']))  # noqa: E501
            collection_formats['background'] = 'multi'  # noqa: E501
        if 'object_category' in params:
            query_params.append(('object_category', params['object_category']))  # noqa: E501
        if 'object_slim' in params:
            query_params.append(('object_slim', params['object_slim']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/bioentityset/graph', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_entity_set_summary(self, **kwargs):  # noqa: E501
        """Summary statistics for objects associated  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_entity_set_summary(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] subject: Entity ids to be examined, e.g. NCBIGene:9342, NCBIGene:7227, NCBIGene:8131, NCBIGene:157570, NCBIGene:51164, NCBIGene:6689, NCBIGene:6387
        :param list[str] background: Entity ids in background set, e.g. NCBIGene:84570, NCBIGene:3630; used in over-representation tests
        :param str object_category: E.g. phenotype, function
        :param str object_slim: Slim or subset to which the descriptors are to be mapped, NOT IMPLEMENTED
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_entity_set_summary_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_entity_set_summary_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_entity_set_summary_with_http_info(self, **kwargs):  # noqa: E501
        """Summary statistics for objects associated  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_entity_set_summary_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] subject: Entity ids to be examined, e.g. NCBIGene:9342, NCBIGene:7227, NCBIGene:8131, NCBIGene:157570, NCBIGene:51164, NCBIGene:6689, NCBIGene:6387
        :param list[str] background: Entity ids in background set, e.g. NCBIGene:84570, NCBIGene:3630; used in over-representation tests
        :param str object_category: E.g. phenotype, function
        :param str object_slim: Slim or subset to which the descriptors are to be mapped, NOT IMPLEMENTED
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['subject', 'background', 'object_category', 'object_slim']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_entity_set_summary" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'subject' in params:
            query_params.append(('subject', params['subject']))  # noqa: E501
            collection_formats['subject'] = 'multi'  # noqa: E501
        if 'background' in params:
            query_params.append(('background', params['background']))  # noqa: E501
            collection_formats['background'] = 'multi'  # noqa: E501
        if 'object_category' in params:
            query_params.append(('object_category', params['object_category']))  # noqa: E501
        if 'object_slim' in params:
            query_params.append(('object_slim', params['object_slim']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/bioentityset/descriptor/counts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_over_representation(self, **kwargs):  # noqa: E501
        """Summary statistics for objects associated  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_over_representation(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str object_category: E.g. phenotype, function
        :param list[str] subject: Entity ids to be examined, e.g. NCBIGene:9342, NCBIGene:7227, NCBIGene:8131, NCBIGene:157570, NCBIGene:51164, NCBIGene:6689, NCBIGene:6387
        :param list[str] background: Entity ids in background set, e.g. NCBIGene:84570, NCBIGene:3630; used in over-representation tests
        :param str subject_category: Default: gene. Other types may be used e.g. disease but statistics may not make sense
        :param str max_p_value: Exclude results with p-value greater than this
        :param str ontology: ontology id. Must be obo id. Examples: go, mp, hp, uberon (optional: will be inferred if left blank)
        :param str taxon: must be NCBITaxon CURIE. Example: NCBITaxon:9606
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_over_representation_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_over_representation_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_over_representation_with_http_info(self, **kwargs):  # noqa: E501
        """Summary statistics for objects associated  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_over_representation_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str object_category: E.g. phenotype, function
        :param list[str] subject: Entity ids to be examined, e.g. NCBIGene:9342, NCBIGene:7227, NCBIGene:8131, NCBIGene:157570, NCBIGene:51164, NCBIGene:6689, NCBIGene:6387
        :param list[str] background: Entity ids in background set, e.g. NCBIGene:84570, NCBIGene:3630; used in over-representation tests
        :param str subject_category: Default: gene. Other types may be used e.g. disease but statistics may not make sense
        :param str max_p_value: Exclude results with p-value greater than this
        :param str ontology: ontology id. Must be obo id. Examples: go, mp, hp, uberon (optional: will be inferred if left blank)
        :param str taxon: must be NCBITaxon CURIE. Example: NCBITaxon:9606
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['object_category', 'subject', 'background', 'subject_category', 'max_p_value', 'ontology', 'taxon']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_over_representation" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'object_category' in params:
            query_params.append(('object_category', params['object_category']))  # noqa: E501
        if 'subject' in params:
            query_params.append(('subject', params['subject']))  # noqa: E501
            collection_formats['subject'] = 'multi'  # noqa: E501
        if 'background' in params:
            query_params.append(('background', params['background']))  # noqa: E501
            collection_formats['background'] = 'multi'  # noqa: E501
        if 'subject_category' in params:
            query_params.append(('subject_category', params['subject_category']))  # noqa: E501
        if 'max_p_value' in params:
            query_params.append(('max_p_value', params['max_p_value']))  # noqa: E501
        if 'ontology' in params:
            query_params.append(('ontology', params['ontology']))  # noqa: E501
        if 'taxon' in params:
            query_params.append(('taxon', params['taxon']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/bioentityset/overrepresentation', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
