# coding: utf-8

"""
    BioLink API

    API integration layer for linked biological objects.   __Source:__ https://github.com/biolink/biolink-api/  # noqa: E501

    OpenAPI spec version: 1.1.14
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class GenomefeaturesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_features_within_resource(self, build, reference, begin, end, **kwargs):  # noqa: E501
        """Returns list of matches  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_features_within_resource(build, reference, begin, end, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str build: (required)
        :param str reference: (required)
        :param str begin: (required)
        :param str end: (required)
        :return: list[SequenceFeature]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_features_within_resource_with_http_info(build, reference, begin, end, **kwargs)  # noqa: E501
        else:
            (data) = self.get_features_within_resource_with_http_info(build, reference, begin, end, **kwargs)  # noqa: E501
            return data

    def get_features_within_resource_with_http_info(self, build, reference, begin, end, **kwargs):  # noqa: E501
        """Returns list of matches  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_features_within_resource_with_http_info(build, reference, begin, end, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str build: (required)
        :param str reference: (required)
        :param str begin: (required)
        :param str end: (required)
        :return: list[SequenceFeature]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['build', 'reference', 'begin', 'end']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_features_within_resource" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'build' is set
        if ('build' not in params or
                params['build'] is None):
            raise ValueError("Missing the required parameter `build` when calling `get_features_within_resource`")  # noqa: E501
        # verify the required parameter 'reference' is set
        if ('reference' not in params or
                params['reference'] is None):
            raise ValueError("Missing the required parameter `reference` when calling `get_features_within_resource`")  # noqa: E501
        # verify the required parameter 'begin' is set
        if ('begin' not in params or
                params['begin'] is None):
            raise ValueError("Missing the required parameter `begin` when calling `get_features_within_resource`")  # noqa: E501
        # verify the required parameter 'end' is set
        if ('end' not in params or
                params['end'] is None):
            raise ValueError("Missing the required parameter `end` when calling `get_features_within_resource`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'build' in params:
            path_params['build'] = params['build']  # noqa: E501
        if 'reference' in params:
            path_params['reference'] = params['reference']  # noqa: E501
        if 'begin' in params:
            path_params['begin'] = params['begin']  # noqa: E501
        if 'end' in params:
            path_params['end'] = params['end']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/genome/features/within/{build}/{reference}/{begin}/{end}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SequenceFeature]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
